<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petplatform.mapper.TaskMemberMapper">
    <resultMap id="TaskMemberResultMap" type="TaskMember">
        <result column="TASK_NUMBER" property="taskNumber"/>
        <result column="MEMBER_NUMBER" property="memberNumber"/>
    </resultMap>

<!--    查询对应任务的成员-->
    <select id="selectMemberByTaskNumber" resultMap="TaskMemberResultMap">
        select * from task_member where TASK_NUMBER = #{taskNumber};
    </select>
</mapper>